{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Generator</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1>Quiz Generator</h1>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="text_input">Enter File for Text Extraction:</label>
        <input type="file" id="text_input" name="input_file" accept=".pdf,.png,.jpg,.jpeg">
        <br><br>
        <button type="submit" class="button" name="upload_file">Extract Text</button>
    </form>

    {% if extracted_text %}
        <h2>Extracted Text</h2>
        <textarea readonly style="width: 100%; height: 400px;">{{ extracted_text }}</textarea>

        <!-- Generate Quiz Button -->
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="extracted_text" value="{{ extracted_text }}">
            <button type="submit" class="button" name="generate_quiz">Generate Quizzes</button>
        </form>
    {% endif %}

        <!-- Display Generated Quizzes -->
    {% if generated_quizzes %}
        <h2>Generated Quizzes</h2>
        <pre>{{ generated_quizzes }}</pre>
    {% endif %}
</body>
</html>
