{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyMate</title>
    {% if page == "home" %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}?v=1">
    {% elif page == "main" %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1">
    {% elif page == "features" %}
    <link rel="stylesheet" href="{% static 'css/features.css' %}?v=1">
    {% elif page == "contact" %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}?v=1">
    {% elif page == "about" %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% endif %}

    {% if page != 'home' %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?v=1">
    {% endif %}
</head>

<body>

{% include 'navbar.html' %}

{% block content %}




{% endblock %}

</body>

</html>